/* Admin Styles */

.cert-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 20px 20px;
}

.cert-list {
    padding: 5px;
    margin: 0px 20px;
    text-align: center;

    outline: black solid 2px;
    background-color: #f2f2f2;
    box-shadow: 0 1px 8px 0 rgb(0 0 0/8%);
    border-radius: 18px;
    overflow-y: hidden;

    width: 450px;
    height: calc(100vh - 40px);

    color: black;
}

.cert-list-wrapper {
    width: 100%;
    height: calc(100% - 40px);
    padding: 0px 5px 5px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.cert-list h2 {
    margin: 0;
    margin-top: 5px;
    font-size: 28px;
}

.selected {
    background-color: #0070f3;
    color: white;
}

.cert-btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    margin-top: 10px;
    padding: 0px;
    width: 100%;
    height: 40px;

    border-radius: 12px;
    border: none;

    outline: none;

    cursor: pointer;

    font-size: 16px;
    font-weight: bolder;

    outline: black solid 1px;
}

.cert-btn-group button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;

    height: 40px;
    padding: 0px 20px;

    text-wrap: nowrap;
    overflow: hidden;
}

.cert-btn-group button:nth-child(1) {
    text-align: left;
    text-overflow: ellipsis;
    width: 100%;
}

.cert-btn-group button:nth-child(2) {
    border-left: black solid 1px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cert-btn-group button:nth-child(3) {
    border-left: black solid 1px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.request-access-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;

    outline: black solid 2px;
    background-color: #f2f2f2;
    box-shadow: 0 1px 8px 0 rgb(0 0 0/8%);

    border-radius: 18px;
    width: fit-content;

    color: black;
}

.request-access-menu button {
    margin-top: 10px;
    padding: 10px 20px;

    width: 100%;

    border-radius: 12px;
    border: none;

    outline: none;

    cursor: pointer;

    font-size: 16px;
    font-weight: bolder;

    outline: black solid 1px;
}

.cert-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: calc(100vh - 40px);

    color: white;
}

.cert-view svg {
    width: 100%;
}

.cert-view h2 {
    margin: 5px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 900;
}

@media screen and (max-width: 800px) {
    .cert-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        padding-top: 50px;
    }

    .cert-list {
        width: 100%;
    }
    .cert-view {
        height: auto;
        margin-bottom: 20px;
    }
}
