/* validate Styles */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;

    outline: black solid 2px;
    background-color: #f2f2f2;
    box-shadow: 0 1px 8px 0 rgb(0 0 0/8%);

    border-radius: 18px;
    text-align: center;
    width: fit-content;
    min-width: 300px;

    color: black;
}

.container .input {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #b2b2b2;

    outline: black;

    padding: 10px 5px;
    transition: 0.2s;

    font-size: 16px;
}

.container p {
    /* width: 100%; */
    text-align: left;
    padding: 0px 2px;
    margin: 0px;
    font-size: small;
}

.container button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;

    border-radius: 12px;
    border: none;

    outline: none;

    cursor: pointer;

    font-size: 16px;
    font-weight: bolder;

    outline: black solid 1px;
}

.container button:hover {
    outline: #0070f3 solid 1px;
}
